@import '@material/button/mdc-button';
@import '@material/ripple/mixins';
@import '@material/ripple/keyframes';
@import '@material/elevation/_mixins';
@import '@material/typography/mdc-typography';
@import '@material/typography/_mixins';
@import '@material/textfield/mdc-textfield';
@import '@material/menu/mdc-menu';

$mdc-theme-primary: #795548;
$mdc-theme-primary-light: #a7ceff;
$mdc-theme-secondary: #9aadaf;
$mdc-theme-background: #4b2c20;

@import '@material/theme/mdc-theme';

@font-face {
    font-family: 'Linux Libertine';
    src: url('/LinLibertine_RZ.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Linux Libertine';
}

$break: 525px;;

body {
    @include mdc-typography-base;
    background-color: #fafafa;
    font-family: 'Linux Libertine';
    font-weight: 400;

    .links {
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 8px;
        right: 15px;
        font-size: 1.2em;
        width: 50px;

        a {
            font-size: .9em;
            text-decoration: none;
            color: #e2e2e2;

        }
        a:hover {
            color: #795548;
        }
    }

    .page {
        background-color: #fafafa;

        .title {
            display: flex;
            padding-left: 60px;
            height: 100px;

            h1 {
                position: relative;
                bottom: -63px;
                font-family: 'Linux Libertine';
                font-weight: 400;
                font-variant: small-caps;
                color: #fdfdfd;
                cursor: default;
                user-select: none;

                i {
                    margin-right: -4px;
                    font-size: 0.9em;
                }
            }
        }

        .form-container {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 0 15px 15px 15px;

            .mdc-textfield {
                width: 100%;
            }
        }

        form {
            button {
                @include mdc-elevation(2);
                @include mdc-ripple-base;
                @include mdc-ripple-bg((pseudo: '::before'));
                @include mdc-ripple-fg((pseudo: '::after'));

                margin-top: 15px;

                cursor: pointer;
                overflow: hidden;
            }
        }
    }
}

@media screen and (min-width: $break) {
    body {
        .page {
            @include mdc-elevation(5);

            margin: 20px auto 20px auto;
            background-color: #fdfdfd;
            width: 500px;
        }

        button {
        }
    }
}
